body{
  padding:0px;
  margin: 0px;
  

  #root{
    padding:0px;
  margin: 0px;
  }
}

// imports
@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import 'styles/header.scss';
@import 'styles/footer.scss';

@import 'styles/login.scss';


